@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Merriweather:wght@700&family=Oleo+Script:wght@700&family=Permanent+Marker&family=Shrikhand&family=Teko:wght@500&display=swap');

body{
    background-color: black;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color:  #393f4d;
    color: #fff;
    border-radius: 5px;
margin-left: 40%;   
}
.para{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}
.logo {

    display: flex;

  }
  
  .logo img {
    display: flex;
    justify-items: center;
    border-radius: 50%;
    width: 150px;
    /* Adjust the width of the logo as needed */
    height: 150px;
    /* Adjust the height of the logo as needed */
    
  
  
  }

/* CSS for the about section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

/* CSS for the about image */
.about-image {
    flex: 1;
    margin-right: 40px;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CSS for the about content */
.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 20px;
    line-height: 1.6;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Lilita One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Oleo Script', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Teko', sans-serif;
  }
  
  .button:hover {
    color: #555;
    background-color: #fff;
    font-size: 2rem;
  }
  
